# Java
*.class
*.jar
*.war
*.ear
target/
bin/

# Spring Boot
spring-boot-starter-parent/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
.classpath
.project
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Logs
logs/
*.log

# Local Environment
.env
.env.local

# Maven
.mvn/
mvnw
mvnw.cmd